# --- Unity Folders ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
.utmp/

# --- IDEs & Editors ---
.idea/
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DotSettings.user
.vsconfig

# --- Assets & Heavy Files ---
*.blend1
*.blend1.meta
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
*.log
sysinfo.txt
mono_crash.*

# --- Assets Store / Plugins ---
/[Aa]ssets/Plugins/Editor/JetBrains*
/[Aa]ssets/TextMesh Pro/
/Assets/Plugins/3DTextGenerator/

# --- Addressables & Visual Scripting ---
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/Unity.VisualScripting.Generated/*

# --- OS Generated ---
.DS_Store
Thumbs.db